<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 载入参数：方式一 -->
    <!--<import resource="classpath:spring/spring-redis.xml"/>-->

    <!-- 载入参数：方式二 -->
    <bean id="prop" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="locations">
            <array>
                <value>classpath:jdbc.properties</value>
                <value>classpath:system.properties</value>
                <value>classpath:mq.properties</value>
                <value>classpath:solr.properties</value>
            </array>
        </property>
    </bean>
    <context:property-placeholder properties-ref="prop" ignore-unresolvable="true"/>

</beans>