<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <context:component-scan base-package="com.tracy.service.api"/>

    <util:properties id="tccJdbc" location="classpath:tccjdbc.properties"/>

    <bean class="org.mengyun.tcctransaction.spring.recover.DefaultRecoverConfig">
        <property name="maxRetryCount" value="30"/>
        <property name="recoverDuration" value="60"/>
        <property name="cronExpression" value="0/30 * * * * ?"/>
    </bean>

    <bean id="transactionRepository"
          class="org.mengyun.tcctransaction.spring.repository.SpringJdbcTransactionRepository">
        <property name="dataSource" ref="tccDataSource"/>
        <property name="domain" value="ORDER"/>
        <property name="tbSuffix" value="_ORD"/>
    </bean>

    <bean id="tccDataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
          destroy-method="close" lazy-init="false">
        <property name="driverClass" value="#{tccJdbc['jdbc.driverClassName']}"/>
        <property name="jdbcUrl" value="#{tccJdbc['tcc.jdbc.url']}"/>
        <property name="user" value="#{tccJdbc['jdbc.username']}"/>
        <property name="password" value="#{tccJdbc['jdbc.password']}"/>
        <property name="initialPoolSize" value="#{tccJdbc['c3p0.initialPoolSize']}"/>
        <property name="minPoolSize" value="#{tccJdbc['c3p0.minPoolSize']}"/>
        <property name="maxPoolSize" value="#{tccJdbc['c3p0.maxPoolSize']}"/>
        <property name="acquireIncrement" value="#{tccJdbc['c3p0.acquireIncrement']}"/>
        <property name="maxIdleTime" value="#{tccJdbc['c3p0.maxIdleTime']}"/>
        <property name="checkoutTimeout" value="#{tccJdbc['c3p0.checkoutTimeout']}"/>
    </bean>

</beans>